@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// @font-face {
//   font-family: 'Gotham-Book';
//   src: url('../../fonts/Gotham-Book.eot');
//   src: url('../../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/Gotham-Book.woff2') format('woff2'),
//        url('../../fonts/Gotham-Book.woff') format('woff'),
//        url('../../fonts/Gotham-Book.ttf') format('truetype'),
//        url('../../fonts/Gotham-Book.svg#typo_groteskregular') format('svg'); 
//   font-weight: normal;
//   font-style: normal; 
// }  

// @font-face {
//   font-family: 'Gotham-Medium';
//   src: url('../../fonts/Gotham-Medium.eot');
//   src: url('../../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/Gotham-Medium.woff2') format('woff2'),
//        url('../../fonts/Gotham-Medium.woff') format('woff'),
//        url('../../fonts/Gotham-Medium.ttf') format('truetype'),
//        url('../../fonts/Gotham-Medium.svg#typo_groteskregular') format('svg'); 
//   font-weight: normal;
//   font-style: normal; 
// } 

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../../fonts/GothamSSm-Medium_Web.eot');
  src: url('../../fonts/GothamSSm-Medium_Web.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/GothamSSm-Medium_Web.woff2') format('woff2'),
       url('../../fonts/GothamSSm-Medium_Web.woff') format('woff'),
       url('../../fonts/GothamSSm-Medium_Web.ttf') format('truetype'),
       url('../../fonts/GothamSSm-Medium_Web.svg#typo_groteskregular') format('svg'); 
  font-weight: normal;
  font-style: normal; 
} 

@font-face {
  font-family: 'Gotham-Book';
  src: url('../../fonts/GothamSSm-Book_Web.eot');
  src: url('../../fonts/GothamSSm-Book_Web.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/GothamSSm-Book_Web.woff2') format('woff2'),
       url('../../fonts/GothamSSm-Book_Web.woff') format('woff'),
       url('../../fonts/GothamSSm-Book_Web.ttf') format('truetype'),
       url('../../fonts/GothamSSm-Book_Web.svg#typo_groteskregular') format('svg'); 
  font-weight: normal;
  font-style: normal; 
} 

@font-face {
  font-family: 'gotham';
  src: url('../../fonts/GothamSSm-Book_Web.eot');
  src: url('../../fonts/GothamSSm-Book_Web.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/GothamSSm-Book_Web.woff2') format('woff2'),
       url('../../fonts/GothamSSm-Book_Web.woff') format('woff'),
       url('../../fonts/GothamSSm-Book_Web.ttf') format('truetype'),
       url('../../fonts/GothamSSm-Book_Web.svg#typo_groteskregular') format('svg'); 
  font-weight: normal;
  font-style: normal; 
} 