/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */
 $_color-primary-500: #242629;

 $_color-secondary-500: #d7dbe0;

 $_color-grey-500: #7d8085;


 $_color-text-600: #242629;
 $_color-text-500: #1a2026;
 
 $_color-white-500: #ffffff;

/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                base: $_color-primary-500,
        ),
        'secondary': (
                base: $_color-secondary-500,
        ),
        'color-grey': (
                base: $_color-grey-500,
        ),
        'text': (
                600: $_color-text-600,
                base: $_color-text-500, 
        ),
        'color-white': (
                base: $_color-white-500,
        ),
);

